<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
			<li {% if current[1] == 'manifestro.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/manifestro.html">Our Aim</a></li>
			<li {% if current[1] == 'team.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/team.html">The F&C Team</a></li>

			<li>
				<a href="">Events</a>
				<ul>
					<li><a href="{{ site.baseurl }}/events/fc1_udon_process.html">F&C#1 Lyon, The Udon Process</a></li>
					<li><a href="{{ site.baseurl }}/events/fc2_okokokonomiyaki.html">F&C#2 Lyon, Okokokonomiyaki</a></li>
					<li><a href="{{ site.baseurl }}/events/fc3_motherboard_russia.html">F&C#3 Brussels, MotherBoard Russia</a></li>
				</ul>
			</li>
<!--
			<li>
				<a href="">Projects</a>
				<ul>
					<li><a href="{{ site.baseurl }}/project1.html">project1</a></li>
					<li><a href="{{ site.baseurl }}/project2.html">project2</a></li>
					<li><a href="{{ site.baseurl }}/project3.html">project3</a></li>
				</ul>
			</li>
-->
			<li {% if current[1] == 'organisation.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/orga.html">Organising a F&C</a></li>
<!--			<li {% if current[1] == 'shop.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/shop.html">Shop</a></li> -->
			<li {% if current[1] == 'about.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/about.html">About/Contact</a></li>
<!--
			<li>
				<a href="">Dropdown</a>
				<ul>
					<li><a href="#">Lorem ipsum dolor</a></li>
					<li><a href="#">Magna phasellus</a></li>
					<li><a href="#">Etiam dolore nisl</a></li>
					<li>
						<a href="">Phasellus consequat</a>
						<ul>
							<li><a href="#">Lorem ipsum dolor</a></li>
							<li><a href="#">Phasellus consequat</a></li>
							<li><a href="#">Magna phasellus</a></li>
							<li><a href="#">Etiam dolore nisl</a></li>
							<li><a href="#">Veroeros feugiat</a></li>
						</ul>
					</li>
					<li><a href="#">Veroeros feugiat</a></li>
				</ul>
			</li>
			<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ site.baseurl }}/blog">Blog</a></li>
			<li {% if current[1] == 'left-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar</a></li>
			<li {% if current[1] == 'right-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/right-sidebar.html">Right Sidebar</a></li>
			<li {% if current[1] == 'no-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/no-sidebar.html">No Sidebar</a></li>
-->
		</ul>
	</nav>
