---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Hell Yeah, we're live!!</h2>
										<span class="byline">Food&Code presents digital art under a new angle. With the help of the messiness of super unprofessional cooking and the crazyness of our mind, we bring you a workshop, a exhibition and a party all in one package. Cleaning included!</span>
									</header>
									
									<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//foodandcode.us13.list-manage.com/subscribe/post?u=3f6cc9ebac42ef3401dc8c6e0&amp;id=6e3039da9b" method="post" id="mc-embedded-    subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email: Subscribe to our Newsletter" required>
    <input type="submit" value="Subscribe to our Newsletter" name="subscribe" id="mc-embedded-subscribe" class="button">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3f6cc9ebac42ef3401dc8c6e0_6e3039da9b" tabin    dex="-1" value=""></div>
   </div>
</form>
</div>

<!--End mc_embed_signup-->


									<!-- <a href="#" class="button alt">Sign Up</a> -->
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<h2>Some memories of previous F&C.</h2>
						<span class="byline">Ok, not much content yet there...</span>
					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/pic11.jpg" alt=""></div>
						</section>
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/pic12.jpg" alt=""></div>
						</section>
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/pic13.jpg" alt=""></div>
						</section>
					</div>
					<div class="row no-collapse-1">
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/pic21.jpg" alt=""></div>
						</section>
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/pic22.jpg" alt=""></div>
						</section>
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/pic23.jpg" alt=""></div>
						</section>
					</div>

					<p>
                    Actually, if you want content, you better check the top menu.
                    </p>

				</section>
			</div>

	{{ content }}
