---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Hell Yeah, we're live!!</h2>
										<span class="byline">Food&Code presents digital art under a new angle. With the help of the messiness of super unprofessional cooking and the crazyness of our mind, we bring you a workshop, a exhibition and a party all in one package. Cleaning included!</span>
									</header>
									<!-- <a href="#" class="button alt">Sign Up</a> -->
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<h2>Some memories of previous F&C.</h2>
						<span class="byline">Ok, not much content yet there...</span>
					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/pic11.jpg" alt=""></div>
						</section>
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/pic12.jpg" alt=""></div>
						</section>
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/pic13.jpg" alt=""></div>
						</section>
					</div>
					<div class="row no-collapse-1">
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/pic21.jpg" alt=""></div>
						</section>
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/pic22.jpg" alt=""></div>
						</section>
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/pic23.jpg" alt=""></div>
						</section>
					</div>

					<p>
                    Actually, if you want content, you better check the top menu.
                    </p>

				</section>
			</div>

	{{ content }}
